html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #bebebe;
}

li {
  list-style-type: none;
  background-color: #ccc;
}

nav a {
  text-decoration: none;
  color: #eccee2;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
}

a:hover {
  color: #960062;
}

header {
  background-color: #bd027d;
  display: grid;
  grid-template-columns: auto 10rem auto;
  grid-template-areas:
    "left center right"
    ". center .";
  align-items: center;
}

header h1 {
  grid-area: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

nav {
  grid-column: 1/-1;
  grid-row: 1;
}

h2, h3 {
  font-family: "PT Sans Narrow", sans-serif;
}

strong {
  font-style: italic;
  font-weight: normal;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-left: 0;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  order: 1;
}

div img {
  width: 8%;
  order: -1;
}

li h3 {
  background-color: #afafaf;
}
